#start_game_button {
    border-radius: 10px;
    font-size: 35px;
    background-color: rgb(220, 231, 67);
}

#deal_button {
    border-radius: 7px;
    font-size: 25px;
    background-color: rgb(103, 106, 255);
}

#hit_button {
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(192, 35, 35);
}

#stay_button {
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(163, 146, 223);
}

.dcard_one {
    border-style: solid;
    border-radius: 6px;
    border-color: black;
    margin-left: 650px;
    margin-right: 620px;
    padding-bottom: 50px;
    padding-top: 50px;
    align-content: center;
}

.dcard_two {
    border-style: solid;
    border-radius: 6px;
    border-color: black;
    margin-left: 650px;
    margin-right: 620px;
    padding-bottom: 50px;
    padding-top: 50px;
    align-content: center;
}

.pcard_one {
    border-style: solid;
    border-radius: 6px;
    border-color: black;
    margin-left: 650px;
    margin-right: 620px;
    padding-bottom: 50px;
    padding-top: 50px;
    align-content: center;
}

.pcard_two {
    border-style: solid;
    border-radius: 6px;
    border-color: black;
    margin-left: 650px;
    margin-right: 620px;
    padding-bottom: 50px;
    padding-top: 50px;
    align-content: center;
}

.total_score {
    border-style: solid;
    border-radius: 2px;
    border-color: rgb(84, 5, 212);
    margin-left: 650px;
    margin-right: 620px;
    padding-bottom: 50px;
    padding-top: 50px;
}