#start-game-button {
    border-radius: 10px;
    font-size: 35px;
    background-color: rgb(220, 231, 67);
}

#deal-button {
    border-radius: 7px;
    font-size: 25px;
    background-color: rgb(103, 106, 255);
}

#hit-button {
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(192, 35, 35);
}

#stay-btutton {
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(69, 35, 192);
}

.dcard_one {
    border-style: solid;
    border-radius: 6px;
    border-color: black;
    margin-left: 650px;
    margin-right: 620px;
    padding-bottom: 50px;
    padding-top: 50px;
    align-content: center;
}

.dcard_two {
    border-style: solid;
    border-radius: 6px;
    border-color: black;
    margin-left: 650px;
    margin-right: 620px;
    padding-bottom: 50px;
    padding-top: 50px;
    align-content: center;
}

.pcard_one {
    border-style: solid;
    border-radius: 6px;
    border-color: black;
    margin-left: 650px;
    margin-right: 620px;
    padding-bottom: 50px;
    padding-top: 50px;
    align-content: center;
}

.pcard_two {
    border-style: solid;
    border-radius: 6px;
    border-color: black;
    margin-left: 650px;
    margin-right: 620px;
    padding-bottom: 50px;
    padding-top: 50px;
    align-content: center;
}